<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{ TEXTS.PAGES.CREATE.STOCK_ITEM }}</h1>
                        </div>
                        
                        <form class="user" (ngSubmit)="!stockItemForm.invalid && saveStockItem()" #stockItemForm="ngForm">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <mat-form-field style="width:100%;" >
                                        <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.NAME }}</mat-label>
                                        <input type="text" matInput [(ngModel)]="stockItem.productModel.name" id="stockItemName"
                                          name="name" required="required" #name="ngModel">
                                        <mat-error *ngIf="name.invalid">{{ TEXTS.MODELS.FORMS.STOCK_ITEM.NAME_REQUIRED }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-6">
                                    <mat-form-field style="width:100%;" >
                                        <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.TYPE }}</mat-label>
                                        <input type="text" matInput [(ngModel)]="stockItem.productModel.type" id="stockItemType"
                                            name="type" required="required" #type="ngModel">
                                        <mat-error *ngIf="type.invalid">{{ TEXTS.MODELS.FORMS.STOCK_ITEM.TYPE_REQUIRED }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-4 mb-3 mb-sm-0">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.POWER }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="stockItem.productModel.power" id="stockItemPower"
                                        required="required" name="city" #power="ngModel">
                                    <mat-error *ngIf="power.invalid">{{ TEXTS.MODELS.FORMS.STOCK_ITEM.POWER_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4 mb-3 mb-sm-0">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.BRAND }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="stockItem.productModel.brand" id="stockItemBrand"
                                        name="brand" #brand="ngModel">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4">
                                  <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.MODEL }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="stockItem.productModel.model" id="stockItemModel"
                                      name="model" #model="ngModel">
                                  </mat-form-field>
                              </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                  <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.STANDARD_RENTAL_VALUE }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="stockItem.productModel.standardRentalValue" id="stockItemStandardRentalValue"
                                        name="standardRentalValue" #standardRentalValue="ngModel">
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                  <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.REPOSITION_VALUE }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="stockItem.productModel.repositionValue" id="stockItemRepositionValue"
                                      name="repositionValue" #repositionValue="ngModel">
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field style="width:100%;" >
                                        <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.IMAGE }}</mat-label>
                                        <input type="text" matInput [(ngModel)]="stockItem.productModel.image" id="stockItemImage"
                                            name="image" #image="ngModel">
                                    </mat-form-field>
                                </div>
                              </div>
                            <br>
                            <button type="submit" mat-raised-button color="primary">{{ TEXTS.GENERAL.ACTIONS.SAVE }}</button>
                        </form>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>