<div class="alert alert-warning" *ngIf="message">{{ message }}</div>

<mat-card>
  <mat-card-title>
    <div fxLayout fxLayoutAlign="center center">
      {{ TEXTS.PAGES.LIST.STOCK_ITEMS }}
    </div>
  </mat-card-title>
  <div class="card-body">
    <div class="table-responsive">
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-xl-6 col-lg-10 col-md-12 col-sm-12">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <mat-slide-toggle (change)="showOnlyActiveToggleChange($event)" [checked]="showOnlyActive" style="padding-right:40px;">{{ TEXTS.GENERAL.LABELS.ACTIVE }}</mat-slide-toggle>
              <mat-form-field fxFlex="40%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="{{ TEXTS.GENERAL.ACTIONS.SEARCH }}">
              </mat-form-field>
            </div>
          </div>
          <div class="col-xl-6 col-lg-10 col-md-12 col-sm-12">  
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <div>
                <button class="mr-2 mb-2" mat-raised-button (click)="createStockItem()" [color]="saveButtonColor" (mouseover)="saveButtonColor = 'basic'" (mouseout)="saveButtonColor = 'primary'">
                {{ TEXTS.GENERAL.ACTIONS.ADD }}
                </button>
              </div>
              <div>
                <button class="mr-2 mb-2" mat-raised-button (click)="deleteSelectedStockItems()" [color]="deleteSelectedButtonColor" (mouseover)="deleteSelectedButtonColor = 'accent'" (mouseout)="deleteSelectedButtonColor = 'basic'">
                  {{ TEXTS.GENERAL.ACTIONS.DELETE_SELECTED }}
                </button>
              </div>
              <div>
                <button class="mr-2 mb-2" mat-raised-button [color]="topStockButtonColor" (mouseover)="topStockButtonColor = 'primary'" (mouseout)="topStockButtonColor = 'basic'">
                  {{ TEXTS.PAGES.LIST.TOP_STOCK_ITEMS }}
                </button>
              </div>
              <div>
                <button class="mr-2 mb-2" mat-raised-button [color]="exportButtonColor" (mouseover)="exportButtonColor = 'primary'" (mouseout)="exportButtonColor = 'basic'">
                  {{ TEXTS.GENERAL.ACTIONS.EXPORT }}
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
      <br>
      <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              {{ TEXTS.GENERAL.ACTIONS.SELECT }}
            </div>
            
          </th>
          <td mat-cell *matCellDef="let stockItemToDisplay">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <mat-checkbox [(ngModel)]="stockItemToDisplay.checked" [checked]="stockItemToDisplay.checked"></mat-checkbox>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ TEXTS.GENERAL.ACTIONS.ACTIONS }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay">
            <button mat-flat-button color="basic" [color]="stockItemToDisplay.trashButtonColor" (mouseover)="stockItemToDisplay.trashButtonColor = 'accent'" (mouseout)="stockItemToDisplay.trashButtonColor = 'basic'" (click)="deleteStockItem(stockItemToDisplay.stockItem.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-flat-button color="basic" [color]="stockItemToDisplay.infoButtonColor" (mouseover)="stockItemToDisplay.infoButtonColor = 'primary'" (mouseout)="stockItemToDisplay.infoButtonColor = 'basic'" (click)="updateStockItem(stockItemToDisplay.stockItem.id)">
              <mat-icon>info</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{ TEXTS.MODELS.STOCK_ITEM.STATUS }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay">
            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'INVENTORY'" class="badge badge-success">Estoque</span>
            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'MAINTENANCE'" class="badge badge-warn">Manutenção</span>
            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'RESERVED'" class="badge badge-accent">Reservado</span>
            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'RENTED'" class="badge badge-accent">Alugado</span>
            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'READY_FOR_RENTAL'" class="badge badge-accent">Pronto para Sair</span>
            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'CUSTOMER'" class="badge badge-primary">Com um cliente</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ TEXTS.MODELS.STOCK_ITEM.NAME }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay"> {{stockItemToDisplay.stockItem.name}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ TEXTS.MODELS.STOCK_ITEM.CODE }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay"> {{stockItemToDisplay.stockItem.code}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ TEXTS.MODELS.STOCK_ITEM.TYPE }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay"> {{stockItemToDisplay.stockItem.type}} </td>
        </ng-container>
        <ng-container matColumnDef="power">
          <th mat-header-cell *matHeaderCellDef>{{ TEXTS.MODELS.STOCK_ITEM.POWER }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay"> {{stockItemToDisplay.stockItem.power}} </td>
        </ng-container>
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef>{{ TEXTS.MODELS.STOCK_ITEM.MODEL }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay"> {{stockItemToDisplay.stockItem.model}} </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>{{ TEXTS.MODELS.STOCK_ITEM.ACTIVE }}</th>
          <td mat-cell *matCellDef="let stockItemToDisplay">
            <span *ngIf="stockItemToDisplay.stockItem.active" class="badge badge-success">{{ TEXTS.GENERAL.LABELS.ACTIVE }}</span>
            <span *ngIf="stockItemToDisplay.stockItem.active == false" class="badge badge-warning">{{ TEXTS.GENERAL.LABELS.INACTIVE }}</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
      </mat-paginator>
      <br>
    </div>
  </div>
</mat-card>