<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{ TEXTS.PAGES.INVOICE.INVOICE }}</h1>
                        </div>

                        <form class="user" (ngSubmit)="!rentalForm.invalid && saveRental()" #rentalForm="ngForm">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field style="width:100%">
                                                <mat-label>{{ TEXTS.MODELS.RENTAL.PAYMENT_DUE_DATE }}</mat-label>
                                                <input matInput [matDatepicker]="paymentDueDatePicker"  [(ngModel)]="rental.paymentDueDate" required="required" name="paymentDueDate" #paymentDueDate="ngModel">
                                                <mat-datepicker-toggle matSuffix [for]="paymentDueDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #paymentDueDatePicker></mat-datepicker>
                                                <mat-error *ngIf="paymentDueDate.invalid">{{ TEXTS.MODELS.FORMS.INVOICE.PAYMENT_DUE_DATE_REQUIRED }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field style="width:100%">
                                                <mat-label>{{ TEXTS.MODELS.RENTAL.INVOICED_AT }}</mat-label>
                                                <input matInput [matDatepicker]="invoicedAtDatePicker" [(ngModel)]="rental.invoicedAt" name="invoicedAt" #invoicedAt="ngModel">
                                                <mat-datepicker-toggle matSuffix [for]="invoicedAtDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #invoicedAtDatePicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <mat-form-field style="width:100%">
                                        <mat-label>{{ TEXTS.MODELS.RENTAL.PAYMENT_TYPE }}</mat-label>
                                        <mat-select [(ngModel)]="rental.paymentType" required id="rentalStatus" name="status" #status="ngModel">
                                            <mat-option value="Boleto">Boleto</mat-option>
                                            <mat-option value="Depósito">Depósito</mat-option>
                                            <mat-option value="Cartão de Crédito">Cartão de Crédito</mat-option>
                                            <mat-option value="PIX">PIX</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-sm-2">
                                      <mat-form-field style="width:100%">
                                          <mat-label>{{ TEXTS.MODELS.RENTAL.INSTALLMENTS }}</mat-label>
                                          <mat-select [(ngModel)]="rental.installments" required id="installments" name="installments" #installments="ngModel">
                                              <mat-option value="1">À Vista</mat-option>
                                              <mat-option value="2">2x</mat-option>
                                              <mat-option value="3">3x</mat-option>
                                              <mat-option value="4">4x</mat-option>
                                              <mat-option value="5">5x</mat-option>
                                              <mat-option value="6">6x</mat-option>
                                              <mat-option value="7">7x</mat-option>
                                              <mat-option value="8">8x</mat-option>
                                              <mat-option value="9">9x</mat-option>
                                              <mat-option value="10">10x</mat-option>
                                              <mat-option value="11">11x</mat-option>
                                              <mat-option value="12">12x</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                      <mat-form-field style="width:100%">
                                        <mat-label>Entrada</mat-label>
                                        <input matInput type="text" mask="separator.2" thousandSeparator="." prefix="R$" [(ngModel)]="rental.entryValue" id="rentalEntryValue" name="entryValue" #entryValue="ngModel">
                                      </mat-form-field>
                                    </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-2">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.RENTAL.TOTAL_VALUE }}</mat-label>
                                    <input matInput type="text" mask="separator.2" thousandSeparator="." prefix="R$" [(ngModel)]="rental.value" id="rentalTotalValue" name="totalValue" required="required" #totalValue="ngModel">
                                    <mat-error *ngIf="totalValue.invalid">{{ TEXTS.MODELS.FORMS.RENTAL.TOTAL_VALUE_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.RENTAL.INVOICE }}</mat-label>
                                    <input matInput type="number" [(ngModel)]="rental.invoiceNumber" id="rentalFiscalNote" name="invoiceNumber">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.RENTAL.PURCHASE_ORDER_NUMBER }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="rental.purchaseOrderNumber" id="rentalPurchaseOrderNumber" name="purchaseOrderNumber">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.RENTAL.INVOICE_COMMENT }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="rental.invoiceComment" id="rentalInvoiceComment" name="invoiceComment">
                                </mat-form-field>
                              </div>
                            </div>
                            <button type="submit" mat-raised-button color="primary">{{ TEXTS.GENERAL.ACTIONS.SAVE }}</button>
                            <button type="button" mat-raised-button color="basic" (click)="onCancel()">{{ TEXTS.GENERAL.ACTIONS.CANCEL }}</button>
                            <button type="button" mat-raised-button color="basic" [disabled]="rentalForm.invalid" (click)="onExport(rental.id)">
                                <mat-icon>picture_as_pdf</mat-icon>
                                {{ TEXTS.GENERAL.ACTIONS.EXPORT }}
                            </button>
                        </form>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
