<mat-card>
    <mat-card-title>
        <div fxLayout fxLayoutAlign="center center">
        {{ TEXTS.PAGES.EVENTS.EVENTS }}
        </div>
    </mat-card-title>
    <table class="table-responsive" style="width: 100%;" mat-table [dataSource]="dataSource">
        <div class="container-fluid" style="padding: 0%; width: 100%;">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ TEXTS.MODELS.STOCK_ITEM_EVENT.DATE }}</th>
            <td mat-cell *matCellDef="let stockItemEvent">{{this.prepareDateToDisplay(stockItemEvent.createdAt)}}</td>
        </ng-container>
        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef>{{ TEXTS.MODELS.STOCK_ITEM_EVENT.STOCK_ITEM_NAME }}</th>
            <td mat-cell *matCellDef="let stockItemEvent">
                <button class="mr-2 mb-2" mat-raised-button color="primary" (click)="showStockItem(stockItemEvent.stockItem.id)">
                    {{stockItemEvent.stockItem.name}} - {{stockItemEvent.stockItem.code}}
                  </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef>Ação</th>
            <td mat-cell *matCellDef="let stockItemEvent">
                <span style="font-size: 15px;" *ngIf="stockItemEvent.status == 'INVENTORY'" class="badge badge-success">
                    {{this.prepareStatusToDisplay(stockItemEvent.status)}}
                </span>
                <span style="font-size: 15px;" *ngIf="stockItemEvent.status == 'MAINTENANCE'" class="badge badge-warn">
                    {{this.prepareStatusToDisplay(stockItemEvent.status)}}
                </span>
                <span style="font-size: 15px;" *ngIf="stockItemEvent.status == 'RENTED'" class="badge badge-accent">
                    {{this.prepareStatusToDisplay(stockItemEvent.status)}}
                </span>
                <span style="font-size: 15px;" *ngIf="stockItemEvent.status == 'RESERVED'" class="badge badge-accent-blue">
                    {{this.prepareStatusToDisplay(stockItemEvent.status)}}
                </span>
                <span style="font-size: 15px;" *ngIf="stockItemEvent.status == 'READY_FOR_RENTAL'" class="badge badge-accent">
                    {{this.prepareStatusToDisplay(stockItemEvent.status)}}
                </span>
                <span style="font-size: 15px;" *ngIf="stockItemEvent.status == 'CUSTOMER'" class="badge badge-primary">
                    {{this.prepareStatusToDisplay(stockItemEvent.status)}}
                </span>    
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </div>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
</mat-card>