<div class="alert alert-warning" *ngIf="message">{{ message }}</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ TEXTS.PAGES.LIST.SUPPLIERS }}</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-10 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-12 col-xl-3 col-sm-6 col-md-6">
                <a class="btn btn-outline-success d-flex align-items-center justify-content-center" style="width:100%;height:100%;" (click)="createSupplier()">
                  <span class="text">{{ TEXTS.GENERAL.ACTIONS.ADD }}</span>
                </a>
              </div>
              <div class="col-12 col-xl-3 col-sm-6 col-md-6">
                <a class="btn btn-outline-warning d-flex align-items-center justify-content-center" style="width:100%;height:100%;" (click)="deleteSelectedSuppliers()">
                  <span class="text">{{ TEXTS.GENERAL.ACTIONS.DELETE_SELECTED }}</span>
                </a>
              </div>
              <div class="col-12 col-xl-3 col-sm-6 col-md-6">
                <a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" style="width:100%;height:100%">
                  <span class="text">{{ TEXTS.GENERAL.ACTIONS.EXPORT }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
      <br>
      <table class="table row-border hover order-column" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th data-orderable="false">{{ TEXTS.GENERAL.ACTIONS.SELECT }}</th>
            <th data-orderable="false">{{ TEXTS.GENERAL.ACTIONS.ACTIONS }}</th>
            <th>{{ TEXTS.MODELS.SUPPLIER.COMPANY_NAME }}</th>
            <th>{{ TEXTS.MODELS.SUPPLIER.CNPJ }}</th>
            <th>{{ TEXTS.MODELS.SUPPLIER.CITY }}</th>
            <th>{{ TEXTS.MODELS.SUPPLIER.PHONE_NUMBER }}</th>
            <th>{{ TEXTS.MODELS.SUPPLIER.EMAIL }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplierToDisplay of suppliersToDisplay">
            <td style="text-align: center;vertical-align: middle;">
              <input type="checkbox" [(ngModel)]="supplierToDisplay.checked"/>
            </td>
            <td>
              <a class="btn btn-outline-warning" (click)="deleteSupplier(supplierToDisplay.supplier.id)">
                  <i class="fas fa-trash"></i>
              </a>
              <a class="btn btn-outline-info" (click)="updateSupplier(supplierToDisplay.supplier.id)">
                <i class="fas fa-info-circle"></i>
              </a>
            </td>
            <td>{{ supplierToDisplay.supplier.companyName }}</td>
            <td>{{ supplierToDisplay.supplier.cnpj }}</td>
            <td>{{ supplierToDisplay.supplier.city }}</td>
            <td>{{ supplierToDisplay.supplier.phoneNumber }}</td>
            <td>{{ supplierToDisplay.supplier.email }}</td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>