<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{ TEXTS.PAGES.CREATE.RENTAL }}</h1>
                        </div>
                        
                        <form class="user" (ngSubmit)="!rentalForm.invalid && saveRental()" #rentalForm="ngForm">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <mat-form-field style="width:100%" >
                                        <mat-label>Customer</mat-label>
                                        <mat-select [(ngModel)]="rental.customer" name="rentalCustomer" required="required" #customer="ngModel">
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="customerFilterControl" placeholderLabel="Find customer..." 
                                                noEntriesFoundLabel="'no matching customer found'"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                                            {{ customer.companyName }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="customer.invalid">{{ TEXTS.MODELS.FORMS.RENTAL.CUSTOMER_REQUIRED }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-6">
                                    <mat-form-field style="width:100%" >
                                        <mat-label>Products</mat-label>
                                        <mat-select [ngModel]="rental.itemRentals" name="rentalStockItems" (selectionChange)="stockItemSelectChange($event.value)"  multiple required #stockItems="ngModel">
                                          <mat-option>
                                              <ngx-mat-select-search [formControl]="stockItemFilterControl" placeholderLabel="Find products..." 
                                              noEntriesFoundLabel="'no matching products found'"></ngx-mat-select-search>
                                          </mat-option>
                                          <mat-option *ngFor="let stockItem of filteredStockItems | async" [value]="stockItem">
                                              {{ stockItem.name }}
                                          </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="stockItems.invalid">{{ TEXTS.MODELS.FORMS.RENTAL.STOCK_ITEMS_REQUIRED }}</mat-error>
                                      </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <mat-divider></mat-divider>
                            <br>
                            <div class="text-center">
                                <h1 class="h5 text-gray-900 mb-4">Selected Products</h1>
                            </div>
                            <table class="table row-border hover order-column" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>{{ TEXTS.MODELS.STOCK_ITEM.NAME }}</th>
                                    <th>{{ TEXTS.MODELS.STOCK_ITEM.TYPE }}</th>
                                    <th>{{ TEXTS.MODELS.STOCK_ITEM.POWER }}</th>
                                    <th>{{ TEXTS.MODELS.STOCK_ITEM.MODEL }}</th>
                                    <th>{{ TEXTS.MODELS.STOCK_ITEM.VALUE }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let itemRental of rental.itemRentals">
                                        <td>{{ itemRental.stockItem.name }}</td>
                                        <td>{{ itemRental.stockItem.type }}</td>
                                        <td>{{ itemRental.stockItem.power }}</td>
                                        <td>{{ itemRental.stockItem.model }}</td>
                                        <td>
                                            <mat-form-field style="width:100%;margin: -1.25em;">
                                                <input matInput type="number" (ngModelChange)="itemRentalValueChange($event, itemRental)" [ngModel]="itemRental.value" name="{{itemRental.stockItem.name}}" required="required">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <mat-divider></mat-divider>
                            <br>

                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="h5 text-gray-900 mb-2" id="duration-group-label">Select duration mode</label>
                                    <mat-radio-group aria-labelledby="duration-group-label" [(ngModel)]="durationMode" name="durationModeRadioGroup">
                                        <mat-radio-button value="1" (change)="durationRadioChange($event)" name="durationModeOne">Custom duration</mat-radio-button>
                                        <br>
                                        <mat-radio-button value="2" (change)="durationRadioChange($event)" name="durationModeTwo">15 days</mat-radio-button>
                                        <br>
                                        <mat-radio-button value="3" (change)="durationRadioChange($event)" name="durationModeThree">30 days</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-12" style="padding: 0em;">
                                    <mat-form-field style="width:100%" >
                                        <mat-label>Start date</mat-label>
                                        <input matInput [matDatepicker]="startDatePicker" (dateChange)="startDateChange($event.value)" [ngModel]="rental.startDate" required="required" name="startDate" #startDate="ngModel">
                                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startDatePicker></mat-datepicker>
                                        <mat-error *ngIf="startDate.invalid">{{ TEXTS.MODELS.FORMS.RENTAL.START_DATE_REQUIRED }}</mat-error>
                                      </mat-form-field>
                                    </div>
                                    <div class="col-sm-12" style="padding: 0em;">
                                        <mat-form-field style="width:100%;" >
                                            <mat-label>End date</mat-label>
                                            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="rental.endDate" required="required" name="endDate" #endDate="ngModel">
                                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #endDatePicker></mat-datepicker>
                                            <mat-error *ngIf="endDate.invalid">{{ TEXTS.MODELS.FORMS.RENTAL.END_DATE_REQUIRED }}</mat-error>
                                          </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-4 mb-3 mb-sm-0">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.RENTAL.TOTAL_VALUE }}</mat-label>
                                    <input matInput type="text" mask="separator.2" thousandSeparator="." prefix="R$" [(ngModel)]="rental.value" id="rentalTotalValue" name="totalValue" required="required" #totalValue="ngModel">
                                    <mat-error *ngIf="totalValue.invalid">{{ TEXTS.MODELS.FORMS.RENTAL.TOTAL_VALUE_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4 mb-3 mb-sm-0">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.RENTAL.STATUS }}</mat-label>
                                    <mat-select [(ngModel)]="rental.status" id="rentalStatus" name="status" #status="ngModel">
                                        <mat-option value="Opened">Opened</mat-option>
                                        <mat-option value="Approved">Approved</mat-option>
                                        <mat-option value="Payed">Payed</mat-option>
                                        <mat-option value="Finished">Finished</mat-option>
                                    </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.RENTAL.FISCAL_NOTE }}</mat-label>
                                    <input matInput type="number" [(ngModel)]="rental.fiscalNote" id="rentalFiscalNote" name="fiscalNote">
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-4">
                                  <mat-form-field style="width:100%" >
                                      <mat-label>Approved date</mat-label>
                                      <input matInput [matDatepicker]="approvedDatePicker" [(ngModel)]="rental.approvalDate" name="approvedDate">
                                      <mat-datepicker-toggle matSuffix [for]="approvedDatePicker"></mat-datepicker-toggle>
                                      <mat-datepicker #approvedDatePicker></mat-datepicker>
                                  </mat-form-field>
                                </div>
                              </div>

                            <button type="submit" mat-raised-button color="primary">{{ TEXTS.GENERAL.ACTIONS.SAVE }}</button>
                        </form>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>