/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/vendor/fontawesome-free/css/all.css';
@import './assets/vendor/datatables/dataTables.bootstrap4.css';
@import './assets/css/sb-admin-2.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
simple-snack-bar span {
    margin:auto;
    text-align: center;
}

.mat-header-cell {
    font-size: 18px !important;
}

