<div class="row"> 
    <div class="col-xl-6 col-lg-10 col-md-12 col-sm-12">
      <div fxLayout="row wrap">
        <mat-form-field fxFlex="100%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="{{ TEXTS.GENERAL.ACTIONS.SEARCH }}">
          </mat-form-field>
        <mat-form-field style="width:50%">
          <mat-label>{{ TEXTS.MODELS.STOCK_ITEM.STATUS }}</mat-label>
          <mat-select (selectionChange)="doFilterForStockItemStatus($event.value)" id="invoiceStatusFilter" name="invoiceStatusFilter">
              <mat-option value="INVENTORY">Estoque</mat-option>
              <mat-option value="MAINTENANCE">Manutenção</mat-option>
              <mat-option value="RENTED">Alugado</mat-option>
              <mat-option value="READY_FOR_RENTAL">Pronto para sair</mat-option>
              <mat-option value="CUSTOMER">Com o cliente</mat-option>
              <mat-option>{{ TEXTS.GENERAL.LABELS.NONE }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-xl-6 col-lg-10 col-md-12 col-sm-12">  
      <div fxLayout="row wrap" fxLayoutAlign="center center">
      </div>
    </div>
  </div>
<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0" style="padding: 10px" *ngFor="let stockItemToDisplay of stockItemsToDisplay; trackBy: trackItem">

                        
                            <mat-card class="z-depth">
                                <mat-card-header>
                                    <mat-card-title> {{stockItemToDisplay.stockItem.name}}</mat-card-title>
                                    <mat-card-subtitle>{{stockItemToDisplay.stockItem.code}}</mat-card-subtitle>
                                </mat-card-header>
                                  <img mat-card-image src="{{stockItemToDisplay.image}}"
                                        alt="Imagem não encontrada."
                                        >
                                    <ng-template #noImageFound>
                                        <img mat-card-lg-image src="fallbackImage.png" alt="Fallbackimage">
                                    </ng-template>
                                        <mat-card-content>
                                            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'INVENTORY'" class="badge badge-success">Estoque</span>
                                            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'MAINTENANCE'" class="badge badge-warn">Manutenção</span>
                                            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'RENTED'" class="badge badge-accent">Alugado para o cliente</span>
                                            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'READY_FOR_RENTAL'" class="badge badge-accent">Pronto para ir ao cliente</span>
                                            <span style="font-size: 15px;" *ngIf="stockItemToDisplay.stockItem.status == 'CUSTOMER'" class="badge badge-primary">Com o cliente</span>
                                            <button mat-button>{{stockItemToDisplay.customerName}}</button>
                                        </mat-card-content>
                                        <mat-card-footer>
                                            <button mat-button>
                                                <mat-icon>info</mat-icon>
                                            </button>
                                            <mat-progress-bar class="green-progress" mode="determinate" value="100" *ngIf="stockItemToDisplay.stockItem.status == 'INVENTORY'"></mat-progress-bar> 
                                            <mat-progress-bar mode="determinate" value="100" color="warn" *ngIf="stockItemToDisplay.stockItem.status == 'MAINTENANCE'"></mat-progress-bar>
                                            <mat-progress-bar mode="determinate" value="100" color="accent" *ngIf="stockItemToDisplay.stockItem.status == 'RENTED'"></mat-progress-bar>
                                            <mat-progress-bar mode="determinate" value="100" color="accent" *ngIf="stockItemToDisplay.stockItem.status == 'READY_FOR_RENTAL'"></mat-progress-bar>
                                            <mat-progress-bar mode="determinate" value="100" *ngIf="stockItemToDisplay.stockItem.status == 'CUSTOMER'"></mat-progress-bar>
                                          </mat-card-footer>                                
                            </mat-card>
                        </div>
                    </div>
    </mat-card-content>
</mat-card>
