.z-depth:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.mat-card.fit-content{
  width: fit-content;
  margin: 1vw;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 250px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 250px;
}