<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{ TEXTS.PAGES.INVOICE.INVOICE }}</h1>
                        </div>
                        
                        <form class="user" (ngSubmit)="!additiveForm.invalid && saveAdditive()" #additiveForm="ngForm">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <div class="col-sm-12" style="padding: 0em;">
                                    <mat-form-field style="width:100%" >
                                        <mat-label>{{ TEXTS.MODELS.ADDITIVE.PAYMENT_DUE_DATE }}</mat-label>
                                        <input matInput [matDatepicker]="paymentDueDatePicker"  [(ngModel)]="additive.paymentDueDate" required="required" name="paymentDueDate" #paymentDueDate="ngModel">
                                        <mat-datepicker-toggle matSuffix [for]="paymentDueDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #paymentDueDatePicker></mat-datepicker>
                                        <mat-error *ngIf="paymentDueDate.invalid">{{ TEXTS.MODELS.FORMS.INVOICE.PAYMENT_DUE_DATE_REQUIRED }}</mat-error>
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <mat-form-field style="width:100%">
                                        <mat-label>{{ TEXTS.MODELS.ADDITIVE.PAYMENT_TYPE }}</mat-label>
                                        <mat-select [(ngModel)]="additive.paymentType" required id="additiveStatus" name="status" #status="ngModel">
                                            <mat-option value="Boleto">Boleto</mat-option>
                                            <mat-option value="Depósito">Depósito</mat-option>
                                            <mat-option value="Cartão de Crédito">Cartão de Crédito</mat-option>
                                            <mat-option value="PIX">PIX</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-sm-4">
                                    <mat-form-field style="width:100%">
                                        <mat-label>{{ TEXTS.MODELS.ADDITIVE.INSTALLMENTS }}</mat-label>
                                        <mat-select [(ngModel)]="additive.installments" required id="installments" name="installments" #installments="ngModel">
                                            <mat-option value="1">À Vista</mat-option>
                                            <mat-option value="2">2x</mat-option>
                                            <mat-option value="3">3x</mat-option>
                                            <mat-option value="4">4x</mat-option>
                                            <mat-option value="5">5x</mat-option>
                                            <mat-option value="6">6x</mat-option>
                                            <mat-option value="7">7x</mat-option>
                                            <mat-option value="8">8x</mat-option>
                                            <mat-option value="9">9x</mat-option>
                                            <mat-option value="10">10x</mat-option>
                                            <mat-option value="11">11x</mat-option>
                                            <mat-option value="12">12x</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                  </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-2">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.ADDITIVE.TOTAL_VALUE }}</mat-label>
                                    <input matInput type="text" mask="separator.2" thousandSeparator="." prefix="R$" [(ngModel)]="additive.value" id="additiveTotalValue" name="totalValue" required="required" #totalValue="ngModel">
                                    <mat-error *ngIf="totalValue.invalid">{{ TEXTS.MODELS.FORMS.ADDITIVE.TOTAL_VALUE_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.ADDITIVE.INVOICE }}</mat-label>
                                    <input matInput type="number" [(ngModel)]="additive.invoiceNumber" id="additiveFiscalNote" name="invoiceNumber">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.ADDITIVE.PURCHASE_ORDER_NUMBER }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="additive.purchaseOrderNumber" id="additivePurchaseOrderNumber" name="purchaseOrderNumber">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4">
                                <mat-form-field style="width:100%">
                                    <mat-label>{{ TEXTS.MODELS.ADDITIVE.INVOICE_COMMENT }}</mat-label>
                                    <input matInput type="text" [(ngModel)]="additive.invoiceComment" id="additiveInvoiceComment" name="invoiceComment">
                                </mat-form-field>
                              </div>
                            </div>
                            <button type="submit" mat-raised-button color="primary">{{ TEXTS.GENERAL.ACTIONS.SAVE }}</button>
                            <button type="button" mat-raised-button color="basic" (click)="onCancel()">{{ TEXTS.GENERAL.ACTIONS.CANCEL }}</button>
                            <button type="button" mat-raised-button color="basic" [disabled]="additiveForm.invalid" (click)="onExport(additive.id)">
                                <mat-icon>picture_as_pdf</mat-icon>
                                {{ TEXTS.GENERAL.ACTIONS.EXPORT }}
                            </button>
                        </form>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>