<!-- Content Row -->
<div class="row">

    <!-- Customers -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-animated-primary shadow h-100" (click)="listCustomers()">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{ TEXTS.PAGES.DASHBOARD.CUSTOMERS }}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ customers.length }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-fw fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- STOCK ITEMS -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-animated-success shadow h-100" (click)="listStockItems()">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {{ TEXTS.PAGES.DASHBOARD.STOCK_ITEMS }}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stockItems.length }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-fw fa-box fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- SUPPLIERS -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-animated-info shadow h-100" (click)="listSuppliers()">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                {{ TEXTS.PAGES.DASHBOARD.SUPPLIERS }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ suppliers.length }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-truck fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RENTALS -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-animated-warning shadow h-100" (click)="listRentals()">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                {{ TEXTS.PAGES.DASHBOARD.RENTALS }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ rentals.length }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-shopping-cart fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <app-month-profit-chart></app-month-profit-chart>
    </div>
</div>