.dashboard-card {
    display: flex;
    flex-direction: column;
}

.value-text {
    margin: 0;
}

.title-text {
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: grey;
}

.avatar-icon {
    margin: 15px;
    transform: scale(2);
}

.duration {
    color: grey;
}

.difference-text {
    text-align: center;
    margin-top: 10px ;
}

.card-icon {
    margin-right: 15px;
}

.card-header-center {
    justify-content: center;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.icon-display {
    transform: scale(3);
 }