<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{ TEXTS.PAGES.CREATE.CUSTOMER }}</h1>
                        </div>
                        
                        <form class="user" (ngSubmit)="!customerForm.invalid && saveCustomer()" #customerForm="ngForm">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <mat-form-field style="width:100%;" >
                                        <mat-label>{{ TEXTS.MODELS.CUSTOMER.COMPANY_NAME }}</mat-label>
                                        <input matInput type="text" [(ngModel)]="customer.companyName" id="customerCompanyName"
                                            name="companyName" required="required" #companyName="ngModel">
                                        <mat-error *ngIf="companyName.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.COMPANY_NAME_REQUIRED }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-6">
                                    <mat-form-field style="width:100%;" >
                                        <mat-label>{{ TEXTS.MODELS.CUSTOMER.COMMERCIAL_NAME }}</mat-label>
                                        <input matInput type="text" [(ngModel)]="customer.commercialName" id="customerCommercialName"
                                            name="commercialName" #commercialName="ngModel">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-4">
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <mat-form-field style="width:100%;" >
                                            <mat-label>{{ TEXTS.MODELS.CUSTOMER.CNPJ }}</mat-label>
                                            <input type="text" matInput mask="000.000.000-00||00.000.000/0000-00" [(ngModel)]="customer.cnpj" id="customerCnpj"
                                                placeholder="{{ TEXTS.MODELS.CUSTOMER.CNPJ }}" name="cnpj" required="required" #cnpj="ngModel">
                                            <mat-error *ngIf="cnpj.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.CNPJ_REQUIRED }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <button mat-mini-fab style="margin-left: -15px !important;" [color]="searchCnpjButtonColor" (mouseover)="searchCnpjButtonColor = 'primary'" (mouseout)="searchCnpjButtonColor = 'basic'" (click)="searchCnpj()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.CUSTOMER.EMAIL }}</mat-label>
                                    <input matInput type="email" [(ngModel)]="customer.email" id="customerEmail" name="email" #email="ngModel">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.CUSTOMER.PHONE_NUMBER }}</mat-label>
                                    <input matInput type="text" mask="''||(00)00000-0000||(00)0000-0000" [(ngModel)]="customer.phoneNumber" id="customerPhoneNumber" name="phoneNumber" #phoneNumber="ngModel">
                                    <mat-error *ngIf="phoneNumber.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.PHONE_NUMBER_INVALID }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-2">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.CUSTOMER.CEP }}</mat-label>
                                    <input type="text" matInput mask="00000-000" [(ngModel)]="customer.address.cep" id="customerCep"
                                         required="required" name="cep" #cep="ngModel">
                                    <mat-error *ngIf="cep.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.CEP_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2 mb-3 mb-sm-0">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.CUSTOMER.CITY }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="customer.address.city" id="customerCity"
                                        required="required" name="city" #city="ngModel">
                                    <mat-error *ngIf="city.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.CITY_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2 mb-3 mb-sm-0">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.CUSTOMER.NEIGHBORHOOD }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="customer.address.neighborhood" id="customerNeighborhood"
                                        required="required" name="neighborhood" #city="ngModel">
                                    <mat-error *ngIf="city.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.NEIGHBORHOOD_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-4 mb-3 mb-sm-0">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.CUSTOMER.STREET }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="customer.address.street" id="customerStreet"
                                        required="required" name="street" #street="ngModel">
                                    <mat-error *ngIf="street.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.STREET_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                <mat-form-field style="width:100%;" >
                                    <mat-label>{{ TEXTS.MODELS.CUSTOMER.NUMBER }}</mat-label>
                                    <input type="text" matInput [(ngModel)]="customer.address.number" id="customerNumber"
                                        required="required" name="number" #number="ngModel">
                                    <mat-error *ngIf="number.invalid">{{ TEXTS.MODELS.FORMS.CUSTOMER.NUMBER_REQUIRED }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            <br>
                            <button type="submit" mat-raised-button color="primary">{{ TEXTS.GENERAL.ACTIONS.SAVE }}</button>
                        </form>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>